<body>
    <div class="container">
        <img src="Images/Navigation/left.png" id="backBtn">
        <div class="category-grid">
            @foreach (Category category in categories)
            {
                <div class="category" onclick="location.href='@String.Concat(currentPath, "/", category.name.ToString().ToLower())'">
                    <img class="category-image" src="@category.image" />
                    <div class="category-name-container">
                        <p class="category-name">@category.name</p>
                    </div>
                </div>
            }   
        </div>
        <img src="Images/Navigation/right.png" id="fwdBtn">
    </div>
    <script src="js/sideScrollCategory.js"></script>
</body>

@code {
    [Parameter]
    public List<Category> categories { get; set; }
    [Parameter]
    public string currentPath { get; set; }

}
