@page "/404"
@inject NavigationManager NavigationManager

<div class="container">
    <p class="main-text">This page is not available or does not exist.</p>
    <img class="not-found-image" src="Images/Navigation/404.png" />
    <p class="alt-text">You have attempted to navigate to a page, which is not available or does not exist.</p>
    <p class="alt-text">If you have typed the URL manually, please check for any errors. If you found yourself here as a result of clicking on something in the site, please inform us through the contact form below.</p>
    <p class="alt-text">Sorry for the inconvenience!</p>
    <!--Insert a contact form here someday-->
</div>

@code {

}
