@page "/about"

<PageTitle>About us</PageTitle>

<div class="about-txt">

    <h1>About us</h1>

    <h3>This page is a proof of concept/student project. Please do interpret any of this information seriously.</h3>

    <p>Welcome to <strong>Bombastic Electronics</strong>, your premier destination for all things electronic!</p>

    <p>At <strong>Bombastic Electronics</strong>, we're passionate about connecting tech enthusiasts, savvy shoppers, and gadget aficionados with the latest and greatest in electronics. Whether you're searching for cutting-edge smartphones, high-performance laptops, top-of-the-line home entertainment systems, or innovative smart home devices, we've got you covered.</p>

    <p>Our mission is simple: to provide a seamless online platform where customers can explore an extensive array of electronics from leading brands and trusted sellers. With a focus on convenience, reliability, and affordability, we strive to make the shopping experience as enjoyable and effortless as possible.</p>

    <h4>Meet the team</h4>

</div>

<div class="team-row">
    <!--Gytis-->
    <div class="team-column">
        <div class="team-card">
            <img class="team-image" src="Images/Team/Gytis.png"/>
            <div class="team-container">
                <h2 class="team-name">Gytis</h2>
                <p class="team-title">Team Manager</p>
                <p>Gambling is my passion.</p>
                <p>gytis@bombastic.xyz</p>
                <a href="mailto:gytis@bombastic.xyz">
                    <p><button class="team-button">Contact</button></p>
                </a>
            </div>
        </div>
    </div>
    <!--Adrijus-->
    <div class="team-column">
        <div class="team-card">
            <img class="team-image" src="Images/Team/Adrijus.png" />
            <div class="team-container">
                <h2 class="team-name">Adrijus</h2>
                <p class="team-title">Front-end developer</p>
                <p>Registered Sex Defender.</p>
                <p>adrijus@bombastic.xyz</p>
                <a href="mailto:adrijus@bombastic.xyz">
                    <p><button class="team-button">Contact</button></p>
                </a>
            </div>
        </div>
    </div>
    <!--Arnas-->
    <div class="team-column">
        <div class="team-card">
            <img class="team-image" src="Images/Team/Arnas.png" />
            <div class="team-container">
                <h2 class="team-name">Arnas</h2>
                <p class="team-title">Back-end developer</p>
                <p>Always need coffee when coding.</p>
                <p>arnas@bombastic.xyz</p>
                <a href="mailto:arnas@bombastic.xyz">
                    <p><button class="team-button">Contact</button></p>
                </a>
            </div>
        </div>
    </div>
    <!--Paulius-->
    <div class="team-column">
        <div class="team-card">
            <img class="team-image" src="Images/Team/Paulius.png" />
            <div class="team-container">
                <h2 class="team-name">Paulius</h2>
                <p class="team-title">Quality Assurance</p>
                <p>Chief Procrastination Officer.</p>
                <p>paulius@bombastic.xyz</p>
                    <a href="mailto:paulius@bombastic.xyz">
                    <p><button class="team-button">Contact</button></p>
                </a>
            </div>
        </div>
    </div>
</div>


@code {

}
