@page "/login"

<div style="text-align:center">
    <div>
        <BombasticElectronics.Components.Layout.Logo />
    </div>
    <div style="border:1px solid; border-radius:10px; width:30%; height:auto; text-align:center; display:inline-block; padding:20px; box-shadow: 10px 5px 5px #3a0647">
        <h1>Login</h1>
        <br />
        <div>
            <p style="text-align:left; margin-bottom:0px; font-weight:600">Username or e-mail</p>
            <input class="form-control" />
        </div>
        <div>
            <p style="text-align:left; margin-bottom:0px; font-weight:600">Password</p>
            <input class="form-control" />
        </div>

        <button class="btn btn-primary" style="width:100%; margin-top:10px; background:linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">Continue</button>
        <hr class="round"/>
        <a href="https://c.tenor.com/vQDWhrh6MRoAAAAd/tenor.gif" style="text-decoration:none">I forgor my password :(</a>
        
    </div>

    <p style="margin-top:20px; margin-bottom:0px">Don't have an account yet?</p>
    <NavLink class="btn btn-primary" style="background:linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%)" href="register">
        Register!
    </NavLink>
</div>

