@page "/register"

<div style="text-align:center">
    <div>
        <BombasticElectronics.Components.Layout.Logo />
    </div>
    <div style="border:1px solid; border-radius:10px; width:30%; height:auto; text-align:center; display:inline-block; padding:20px; box-shadow: 10px 5px 5px #3a0647">
        <h1>Create an account</h1>
        <br />
        <div>
            <p style="text-align:left; margin-bottom:0px; font-weight:600">Full name</p>
            <input class="form-control" />
        </div>
        <div>
            <p style="text-align:left; margin-bottom:0px; font-weight:600">Phone number of email</p>
            <input class="form-control" />
        </div>
        <div>
            <p style="text-align:left; margin-bottom:0px; font-weight:600">Password</p>
            <input class="form-control" />
        </div>
        <div>
            <p style="text-align:left; margin-bottom:0px; font-weight:600">Re-enter the password</p>
            <input class="form-control" />
        </div>
        <div>
            <label class="container">
                Show password
                <input type="checkbox" />
            </label>
        </div>


        <button class="btn btn-primary" style="width:100%; margin-top:10px; background:linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">Continue</button>
        <hr class="round" />

        <p style="margin:0px">By registering, you agree to our <a href="https://i.pinimg.com/736x/23/7f/2e/237f2eb6c3a80802c451f92f4db6917f.jpg">Terms and Conditions</a></p>
    </div>
    <p style="margin-top:20px; margin-bottom:0px">Already have an account?</p>
    <NavLink class="btn btn-primary" style="background:linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%)" href="login">
        Login!
    </NavLink>
</div>

